* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

a:hover {
  color: rgb(192, 191, 191);
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #0d2b41;
  color: white;
}

header {
  margin-bottom: 2rem;
}

main {
  margin-bottom: 1rem;
}

.input-citation-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.raw-citation {
  margin-top: 1rem;
  padding: 0.8rem 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid grey;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.btn {
  padding: 0.625rem;
  background-color: aqua;
  border-radius: 0.3125rem;
  border: none;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
}

.btn-mini {
  width: 49.5%;
}

.btn:hover {
  background-color: rgb(156, 231, 253);
}
.btn-mini:last-child:hover {
  background-color: rgb(248, 136, 136);
  border-color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-mini:last-child {
  background-color: #dd3a58;
}
.result-wrapper,
.list-wrapper {
  padding: 0.3125rem;
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid gray;
  border-radius: 0.3125rem;
  height: 12rem;
  margin: 1rem 0 1rem;
  color: black;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-wrapper {
  height: 30rem;
  overflow-y: auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 0.125rem solid #d9042b;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.hint {
  display: flex;
  font-size: 1rem;
  color: rgb(168, 168, 168);
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.line-y {
  line-height: 1.2rem;
}
.about {
  line-height: 2.2rem;
}

.tutorial-link {
  text-decoration: underline;
}
.love {
  color: red;
  text-align: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #f86580;
  background-color: #37444d;
  border-radius: 2px;
  height: 2.5rem;
  width: 100%;
}

.invisible {
  visibility: hidden;
}

.counter-wrapper {
  display: flex;
  justify-content: flex-end;
}

.counter {
  height: 40px;
  width: 40px;
  border: 3px solid white;
  border-radius: 100%;
  background-color: red;
  text-align: center;
  padding-top: 9px;
}

.list-counter {
  bottom: -75px;
  right: -10px;
}

.home-counter {
  bottom: -95px;
  right: 0;
}

.ref {
  margin-bottom: 1rem;
}

.delete-ref {
  position: relative;
  padding: 0 5px;
}

.in-text {
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.donate {
  width: 9rem;
  margin: auto;
  background-color: rgb(241, 185, 42);
  padding: 0.4375rem;
  border: 1px solid black;
  border-radius: 1.25rem;
  margin-bottom: 0.3125rem;
}

.donate > a {
  font-family: cursive;
  color: black;
  text-align: center;
}

@keyframes example {
  0% {
    background-color: rgba(255, 0, 0, 0);
  }
  100% {
    background-color: rgba(240, 99, 99, 0.247);
  }
}

.delete {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
}

.delete:hover {
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 850px) {
  body {
    width: 80%;
  }

  .result-wrapper {
    height: 14rem;
  }

  .list-counter {
    bottom: -53px;
    right: -10px;
  }

  .home-counter {
    bottom: -42px;
    right: 0;
  }

  .list-wrapper {
    margin-top: 20px;
  }
}
