* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

a:hover {
  color: rgb(192, 191, 191);
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  background-color: #0d2b41;
  color: white;
}

header {
  margin-bottom: 1rem;
}

main {
  margin-bottom: 1rem;
}

.input-citation-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.raw-citation,
.message {
  margin-top: 1rem;
  padding: 0.625rem 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid grey;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.message {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  padding: 0.625rem;
  margin-bottom: 1rem;
  background-color: aqua;
  border-radius: 0.3125rem;
  border: none;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
}

.btn-mini {
  width: 49.5%;
}

.btn:hover {
  background-color: rgb(156, 231, 253);
}
.btn-mini:last-child:hover {
  background-color: rgb(248, 136, 136);
  border-color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-mini:last-child {
  background-color: #dd3a58;
}
.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.3125rem;
  background-color: rgb(255, 255, 255);
  border: 0.0625rem solid gray;
  border-radius: 0.3125rem;
  height: 12rem;
  margin-bottom: 1rem;
  color: black;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 0.125rem solid #d9042b;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.hint {
  display: flex;
  font-size: 1rem;
  color: rgb(168, 168, 168);
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.about {
  line-height: 2rem;
}

.tutorial-link {
  text-decoration: underline;
}
.love {
  color: red;
  text-align: center;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #f86580;
  background-color: #37444d;
  border-radius: 2px;
  height: 2.5rem;
  width: 100%;
}

.invisible {
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  body {
    width: 80%;
  }

  .result-wrapper {
    height: 14rem;
  }
}
